<p id="notice"><%= notice %></p>

<p>
  <strong>Time:</strong>
  <%= @lesson.time %>
</p>

<p>
  <strong>Date:</strong>
  <%= @lesson.date %>
</p>

<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Back', lessons_path %>
