<h2 class="registrationheader">Edit Your Profile</h2>

<div class="row">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="large-4 large-offset-2 columns">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="large-4 columns">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="large-4 large-offset-2 columns">
    <%= f.label :role %><br />
    <%= f.select :role, ['Teacher', 'Student'], :prompt => 'Select Role' %>
  </div>

  <div class="large-4 columns">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="large-4 large-offset-2 columns">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="large-4 columns">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="large-4 large-offset-2 columns">
    <%= f.label :address, 'Location (City)' %><br />
    <%= f.text_field :address %>
  </div>

  <div class="large-4 columns">
    <%= f.label :contact_number %><br />
    <%= f.text_field :contact_number %>
  </div>

  <div class="large-4 large-offset-2 columns">
    <%= f.label :image %><br />
    <%= f.text_field :image%>
  </div>

  <div class="large-4 columns">
    <%= f.label :price, 'Cost per hour (£)' %><br />
    <%= f.text_field :price %>
  </div>

  <div class="large-8 large-offset-2 columns">
    <%= f.label :description, 'Mini Bio' %><br />
    <%= f.text_field :description %>
  </div>

  <div class="large-8 large-offset-2 columns">
    <%= f.label :instruments %><br />
    <%= collection_check_boxes(:user, :instrument_ids, Instrument.all, :id, :name) %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="large-10 large-offset-2 columns">
    <%= f.submit "Update", class: "button" %>
    <%= link_to "Back", :back %>
  </div>
<% end %>

  <div class="large-8 large-offset-2 columns">
    <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "button" %>
  </div>

</div>
</div>
