<% content_for :home do %>
  <div id="homepage-banner" class="home">
    <h1 class="mainheader">Find Your Perfect <span class="rotate">Music, Piano, Cello, Viola, Flute, Drums</span> Teacher</h1>
    <h2>Choose your favourite, and easily book online.</h2>

    <div class="row search">
      <div class="small-12 columns">
        <div class="row collapse">
          <%= search_form_for @q do |f| %>
          <!-- Search field -->
          <div id="main-search" class="small-12 large-12 columns">
            <%= collection_select :user, :instrument_id, Instrument.all, :id, :name, { prompt: "Pick an Instrument" } %>
            <%= f.text_field :address_cont, placeholder: "Enter Your Location (City)", class: "search-field" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <h2 class="logotitle">How It Works</h2>
  <div class="large-4 columns intro">
    <%= image_tag("search.svg", class:"logoimages") %>
    <h4>Search</h4>
    <p>Choose the instrument that you want to learn, insert your location, and immediately view the teachers in your area.</p>
  </div>

  <div class="large-4 columns intro">
    <%= image_tag("teacher.svg", class:"logoimages") %>
    <h4>Choose</h4>
    <p>Browse through the available teachers, choose your favourite, have a look at the bio and qualifications.</p>
  </div>

  <div class="large-4 columns intro">
    <%= image_tag("book.svg", class:"logoimages") %>
    <h4>Book</h4>
    <p>Schedule your lessons and manage your bookings online</p>
  </div>
</div>