<p id="notice"><%= notice %></p>

<p>
  <strong>Time:</strong>
  <%= @lesson.time %>
</p>

<p>
  <strong>Date:</strong>
  <%= @lesson.date %>
</p>

<%= link_to 'Edit', edit_user_lesson_path(@user, @lesson) %> |
<%= link_to 'Back', user_lessons_path(@user) %>
