<h1>All <%= @title %></h1>

<ul>
<% @users.each do |user| %>
<div class="row">
    <div class="small-4 columns">
      <div class="item-wrapper">
        <div class="img-wrapper">
          <%= link_to "View Profile", user, class: "button expand add-to-cart" %>
          <%= image_tag user.image, :size => '260x180' %>
        </div>  
        <h3><%= user.name %></h3>
          <% user.instruments.each do |instrument| %>
            <h5><%= instrument.name %></h5>
          <% end %>
        <p><strong>Hourly Rate: £<%= user.price %></strong></p>
      </div>
 
    </div>

  </div>
  <% end %>

</ul>


