<h1>User Profile Page</h1>

<%= image_tag @user.image, :size => '260x180' %>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Location (City):</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Contact #:</strong>
  <%= @user.contact_number %>
</p>

<p>
  <strong>Instruments I teach:</strong>
  <% @user.instruments.each do |instrument| %>
    <%= instrument.name %>
  <% end %>
</p>