<h1 class="userheader">My Profile</h1>

<%= image_tag @user.image, :size => '260x180' %>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Location (City):</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Contact #:</strong>
  <%= @user.contact_number %>
</p>

<p>
  <strong>Hourly Rate: </strong>£<%= @user.price %>
</p>

<p>
  <strong>Mini Bio:</strong>
  <%= @user.description %>
</p>

<% if @user.role == "Teacher" %>
<p>
  <strong>Instruments I teach:</strong>
  <% @user.instruments.each do |instrument| %>
  <%= instrument.name %> <% if user_signed_in? %>– <%= link_to "Request Booking", "/users/#{@user.id}/lessons/new?instrument_id=#{instrument.id}" %><% end %>
  <% end %>
</p>
<% end %>