<% if current_user.role == "Student" %>
  <h1 class="lessontitle">My Upcoming Lessons</h1>
  <ul>
    <% @lessons_as_student.each do |lesson| %>
        <%= image_tag lesson.teacher.try(:image), :size => '260x180' %>
        <p class="profile-p">
          <strong>Name of Teacher:</strong>
          <%= lesson.teacher.try(:name) %>
        </p>
        <p class="profile-p">
          <strong>Instrument:</strong>
          <%= lesson.instrument.try(:name) %>
        </p>
        <p class="profile-p">
          <strong>Lesson Time:</strong>
          <%= lesson.time %>
        </p>
        <p class="profile-p">
          <strong>Lesson Date:</strong>
          <%= lesson.date %>
        </p>
<!--         <p class="profile-p">
        <%= link_to 'Edit', edit_user_lesson_path(lesson.teacher_id, lesson) %>
        </p> -->
        <p class="profile-p">
        <%= link_to 'Cancel lesson', user_lesson_path(lesson.teacher_id, lesson), method: :delete, data: { confirm: 'Are you sure?' } %>
        </p>
    <% end %>
  </ul>
<% else %>
  <h1 class="lessontitle">My Upcoming Lessons</h1>
  <% @lessons_as_teacher.each do |lesson| %>
  <ul>
    <%= image_tag lesson.student.try(:image), :size => '260x180' %>
    <p class="profile-p">
      <strong>Name of Student:</strong>
      <%= lesson.student.try(:name) %>
    </p>
    <p class="profile-p">
      <strong>Instrument:</strong>
      <%= lesson.instrument.try(:name) %>
    </p>
    <p class="profile-p">
      <strong>Lesson Time:</strong>
      <%= lesson.time %>
    </p>
    <p class="profile-p">
      <strong>Lesson Date:</strong>
      <%= lesson.date %>
    </p>
<!--     <p class="profile-p">
    <%= link_to 'Edit', edit_user_lesson_path(lesson.teacher_id, lesson) %>
    </p> -->
    <p class="profile-p">
    <%= link_to 'Cancel lesson', user_lesson_path(lesson.teacher_id, lesson), method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
  </ul>
  <% end %>
<% end %>
