<p id="notice"><%= notice %></p>

<% if current_user.role == "Student" %>
  <h1>Listing Lessons As Student</h1>
  <ul>
    <% @lessons_as_student.each do |lesson| %>
    <li>
      <ul>
        <li><%= lesson.teacher.try(:name) %></li>
        <li><%= lesson.time %></li>
        <li><%= lesson.date %></li>
        <li><%= link_to 'Show', user_lesson_path(lesson.teacher_id, lesson) %></li>
        <li><%= link_to 'Edit', edit_user_lesson_path(lesson.teacher_id, lesson) %></li>
        <li><%= link_to 'Destroy', user_lesson_path(lesson.teacher_id, lesson), method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul>
    </li>
    <% end %>
  </ul>
<% else %>
  <h1>Listing Lessons As Teacher</h1>
  <% @lessons_as_teacher.each do |lesson| %>
  <li>
    <ul>
      <li><%= lesson.student.try(:name) %></li>
      <li><%= lesson.time %></li>
      <li><%= lesson.date %></li>
      <li><%= link_to 'Show', user_lesson_path(lesson.teacher_id, lesson) %></li>
      <li><%= link_to 'Edit', edit_user_lesson_path(lesson.teacher_id, lesson) %></li>
      <li><%= link_to 'Destroy', user_lesson_path(lesson.teacher_id, lesson), method: :delete, data: { confirm: 'Are you sure?' } %></li>
    </ul>
  </li>
  <% end %>
<% end %>
