<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= content_for?(:title) ? yield(:title) : "FindR Musician" %></title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <header class="<% if params[:controller] == "pages" || (params[:controller] == "users" && params[:action] == "teachers") %>transparent<% else %>not-transparent<% end %>">
    <nav class="top-bar row" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="#"><%= link_to "Findr Musician", root_path %></a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Left Nav Section -->
        <ul class="left">
          <li><a href="#"><%= link_to "About Us", about_path %></a></li>
        </ul>

        <!-- Right Nav Section -->
        <ul class="right">
          <% if current_user %>
          <li><%= link_to "All Teachers", teachers_path %></a></li>
          <li><%= link_to "My Lessons", user_lessons_path(current_user) %></a></li>
          <li class="has-dropdown">
            <a href="#"><%= current_user.name %></a>
            <ul class="dropdown">
              <li><%= link_to "My Profile", current_user %></li>
              <li><%= link_to "Edit My Profile", edit_user_registration_path %></li>
              <li>
                <%= link_to "Logout", destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          </li>

          <% else %>
          <li>
            <%= link_to "Register", new_user_registration_path %>
          </li>
          <li>
            <%= link_to "Login", new_user_session_path, data: { "reveal-id" => "myModal" } %>
          </li>
          <% end %>
          
        </ul>

      </section>
    </nav>
  </header>

  <%= yield :home %>

  <% flash.each do |name, message| %>
  <div class="row flash-message flash-message-<%= name %>">
    <%= message %>
  </div>
  <% end %>

  <main class="row">
    <%= yield %>
  </main>

  <footer>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">

    <div class="footer">
      <div class="row">
        <div class="small-12 medium-6 large-5 columns">
          <p class="logo">Findr Musician</p> 
          <p class="footer-links">
            <%= link_to "Home", root_path %>
            <%= link_to "About Us", about_path %>
            <a href="#">Contact</a>
          </p>
          <p class="copywrite">Copyright © 2015</p>
        </div>
        <div class="small-12 medium-6 large-4 columns">
          <ul class="contact">
            <li><p><i class="fi-marker"></i>75 Dalmation Street, London, W12 7HJ</p></li>
            <li><p><i class="fi-telephone"></i>0203 318 4736</p></li>
            <li><p><i class="fi-mail"></i>contact@findrmusician.com</p></li>
          </ul>
        </div>
        <div class="small-12 medium-12 large-3 columns">
          <p class="about">Social</p>
          <ul class="inline-list social">
            <a href="#"><i class="fi-social-facebook"></i></a>
            <a href="#"><i class="fi-social-twitter"></i></a>
            <a href="#"><i class="fi-social-linkedin"></i></a>
            <a href="#"><i class="fi-social-github"></i></a>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <div id="myModal" class="reveal-modal remove-whitespace" data-reveal>
    <div class="row">
      <div class="large-6 columns auth-plain">
        <div class="signup-panel left-solid">
          <p class="welcome">Registered Users</p>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="row collapse">
            <div class="small-2  columns">
              <span class="prefix"><i class="fi-torso-female"></i></span>
            </div>
            <div class="small-10  columns">
              <%= f.email_field :email, autofocus: true, placeholder: "email" %>
            </div>
          </div>
          <div class="row collapse">
            <div class="small-2 columns ">
              <span class="prefix"><i class="fi-lock"></i></span>
            </div>
            <div class="small-10 columns ">
              <%= f.password_field :password, autocomplete: "off", placeholder: "password" %>
            </div>
          </div>
          <%= f.submit "Log in", class: "button" %>
          <% end %>
        </div>
      </div>

      <div class="large-6 columns auth-plain">
        <div class="signup-panel newusers">
          <p class="welcome"> New User?</p>
          <p>By creating an account with us, you will be able to book a lesson, view and track your lesson bookings, and more.</p><br>
          <%= link_to "Register", new_user_registration_path, class: "button " %>
        </div>
      </div>

    </div>   
    <a class="close-reveal-modal">&#215;</a>
  </div>  

</body>
</html>
